
<!DOCTYPE html>
<html>
<head>
    <title>EJS</title>
</head>
 
<body>
    <div style="background-color:yellow; padding:50;">
        <h2> <center>Node and EJS on <%=data.name%></h2>
    </div>
    <%- body %>
</body>
 
</html>